html {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  padding: 1rem;
}

.btn {
  color: #f2f2f2;
  background-color: #000;
  border-radius: 10px;
}

@media only screen and (min-width: 60em) {

  html {
    margin: 0;
  }

}
